<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeLeaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main role="main">
		<section class="container">
			<div class="card text-center">
				<div class="card-header">Edit your Washed</div>
				<div class="card-body text-left">

					<form th:action="@{/karwas/washed/save}" th:object="${washed}"
						method="post">
						<div class="form-row">

							<div class="form-group col-md-6">
								<label for="typewashed">TypeWashed</label> <select
									th:field="*{typewashed.serviceName}" class="form-control">
									<option value="">Select TypeWashed</option>
									<option value="Basic">Basic</option>
									<option value="Standard">Standard</option>
									<option value="Premium">Premium</option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<label for="description">Description</label>
								<textarea class="form-control" th:field="*{description}"
									placeholder="Ingrese una descripcion"></textarea>
							</div>
							<div class="form-group col-md-6">
								<label for="wash_Time">Wash Time</label> <input type="number"
									class="form-control" th:field="*{wash_Time}"
									placeholder="Ingrese la hora de lavadp" id="choose0"
									name="i_like" minlength="5" maxlength="20S" required
									pattern="[A-Za-z]+" title="Ingresar la hora de lavado">
							</div>
							<div class="form-group col-md-6">
								<label for="totalAmount">Total Amount</label> <input
									type="number" class="form-control" th:field="*{totalAmount}"
									placeholder="Ingrese el monto total" id="choose0" name="i_like"
									minlength="5" maxlength="20S" required pattern="[A-Za-z]+"
									title="Ingresar el monto total">
							</div>
							<div class="form-group col-md-6">
								<label for="announcement">Type Announcement</label> <select
									th:field="*{announcement}" class="form-control">
									<option value="">Seleccione tipo de anuncio</option>
									<option th:each="announcement : ${announcements}"
										th:value="${announcement.id}"
										th:text="${announcement.title}">
									</option>
								</select>
							</div>
						</div>
						<br>
						<div class="text-center">
							<button type="submit" class="btn btn-dark">
								<i class="fas fa-save"></i> Grabar
							</button>
							<a th:href="@{/karwas/washed/start}" class="btn btn-danger">
								Cancelar</a>
						</div>
					</form>
				</div>
				<div class="card-footer text-center"></div>
			</div>

		</section>
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
